/* Hover effect for Portfolio section */

@font-face {
    font-family: segoe;
    src: url('../fonts/segoeui.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: beaufortforlol;
    src: url('../fonts/beaufortforlol-regular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}
.hovereffect .overlay {
    width: 350px;
    height: 265px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out -webkit-transition-delay: .1s;
    transition-delay: .1s;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 5px solid white;
}
.rig-text h2 {
    color: #fff;
    text-align: center;
    position: relative;
    vertical-align: text-top;
    font-size: 22px;
    background: rgba(0, 0, 0, 0.6);
    margin: 0px;
    width: 100%;
}
.rig-text h6 {
    padding: 5px;
    line-height: 150%;
    margin: 0 0 0px 0;
    font-size: 14px;
}
#rig {
    width: 100 margin: 0 auto;
    /*center aligned*/
    
    padding: 0;
    font-size: 0;
    /* Remember to change it back to normal font size if have captions */
    
    list-style: none;
    background-color: #000;
}
#rig li {
    display: inline-block;
    *display: inline;
    /*for IE6 - IE7*/
    
    width: 25%;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* The wrapper for each item */

.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.rig-img {
    display: block;
    width: 100%;
    height: auto;
    border: none;
    transform: scale(1);
    transition: all 1s;
}
#rig li:hover .rig-img {
    transform: scale(1.05);
}
/* If have the overlay layer */

.rig-overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: black no-repeat center 20%;
    background-size: 50px 50px;
    opacity: 0;
    filter: alpha(opacity=0);
    /*For IE6 - IE8*/
    
    transition: all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity: 0.8;
    -webkit-transition-delay: .5s;
    /* Safari */
    
    transition-delay: .5s;
}
.proj-title {
    position: absolute;
    z-index: 10;
    background: transparent !important;
    margin: auto;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out .3s;
    transform: translateX(0px);
    font-size: 36px;
    color: #eee;
}
#coverTxt {
    top: 30%;
    font-size: 60px;
    font: 'Courier New';
    line-height: 110%;
    font-weight: 300;
}

#rig li:hover .proj-title {
    transition: all 0.3s ease-out 0s;
    transform: translateX(-20px);
    opacity: 0;
}
/* If have captions */

.rig-text {
    display: block;
    padding: 0 0px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-weight: normal!important;
    top: 0%;
    color: white;
    opacity: 0;
    filter: alpha(opacity=0);
    /*For older IE*/
    
    transform: translateY(-20px);
    transition: all .3s;
}
#rig li:hover .rig-text {
    transform: translateY(0px);
    opacity: 0.9;
    -webkit-transition-delay: .5s;
    /* Safari */
    
    transition-delay: .5s;
}
@media (max-width: 9000px) {
    #rig li {
        width: 40%;
        margin-left: 95px;
        margin-top: 50px;
    }
}
@media (max-width: 1600px) {
    .rig-text h2 {
        color: #fff;
        text-align: center;
        position: relative;
        vertical-align: text-top;
        font-size: 20px;
        background: rgba(0, 0, 0, 0.6);
        margin: 0px;
    }
    .rig-text h6 {
        padding: 5px;
        line-height: 130%;
        margin: 5px;
        font-size: 13px;
    }
}
@media (max-width: 1200px) {
    #rig li {
        width: 33.33%;
    }
}
@media (max-width: 800px) {
    #rig li {
        width: 50%;
    }
    .rig-text h6 {
        padding: 5px;
        line-height: 130%;
        margin: 5px;
        font-size: 18px;
    }
}
@media (max-width: 500px) {
    #rig li {
        width: 100%;
    }
    .rig-text h6 {
        padding: 5px;
        line-height: 130%;
        margin: 5px;
        font-size: 18px;
    }
}